[submodule "SuperHeroesApi"]
	path = SuperHeroesApi
	url = https://github.com/Brennon-Oliveira/SuperHeroesApi.git
[submodule "SuperHeroesFront"]
	path = SuperHeroesFront
	url = https://github.com/Brennon-Oliveira/SuperHeroesFront.git
